# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!packages/news_classifier/setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
packages/news_classifier/docs/api/*
packages/news_classifier/docs/_rst/*
packages/news_classifier/docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
/packages/news_classifier/news_classifier/database/.ipynb_checkpoints/
/packages/news_classifier/.ipynb_checkpoints/
/.ipynb_checkpoints/
